<h1> Food List </h1>
<%= link_to "Add Food",  class: 'btn btn-warning' %>

<table class="text-white" border="1px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @foods.empty? %>
      <tr>
        <td colspan="4">
          <p class="padding: 4rem">
          No foods found
          </p>
        </td>
      </tr>
    <% else %>
      <% @foods.each do |food| %>
       <tr>
        <td><%= food.Name %></td>
        <td><%= food.Measurement_id %></td>
        <td><%= food.Price %></td>
      </tr>
   <% end %>
 <% end %>
</tbody>
</table>
  

